.writeReview-wrapper {

    .login-wrapper {
        min-height: 100vh;
        height: max-content;

        .form-container {
            color: var(--landingpage-secondary-color);
            background-color: #fff;
            border-radius: var(--big-button-border-radius);
            box-shadow: var(--box-shadow-3d);
            position: relative;
            overflow: hidden;
            max-width: 100%;
            width: var(--content-width);
            margin: 100px 0;



            .review-form {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;


                h2 {
                    margin: 10px;
                    padding-bottom: 10px;
                    width: 220px;
                    align-self: flex-start;
                    border-bottom: 3px solid var(--landingpage-secondary-color);
                }

                .form-nav {
                    width: 100%;
                    display: flex;
                    // align-items: space-between;
                    justify-content: space-between;
                    flex-flow: row-reverse nowrap;
                    // .back-button {
                    //     js-self: flex-start;
                    // }

                    // .submit-button {
                    //     align-self: flex-end;
                    // }
                }

                .input-wrapper {
                    width: 80%;

                    input {
                        width: 100%;
                        padding: 10px;
                        box-sizing: border-box;
                        background: none;
                        outline: none;
                        resize: none;
                        border: 0;
                        border-bottom: 2px solid #bebed2;

                        &:focus {
                            border-bottom: 2px solid #78788c;
                        }
                    }

                    textarea {
                        margin-top: 10px;
                        max-width: 100%;
                        min-width: 100%;
                        min-height: 10vh;
                        border-radius: var(--border-radius);
                    }

                    h5:before {
                        content: attr(type);
                        display: block;
                        margin: 28px 0 0;
                        font-size: 14px;
                        // color:#5a5a5a
                    }
                }
            }
        }
    }
}

.input-wrapper {
    .field {
        margin: 10px 0;
    }
}
