







.questions-navbar{
    // margin-bottom: -600px !important;
    padding-bottom: 0px !important;
    margin-bottom: 100px !important;
    height: 450px;
    transform: skew(0deg, calc( 0deg - var(--navbar-angle))) !important;
    // overflow: hidden;
}

.questions-navbar-content{
    transform: skew(0deg, var(--navbar-angle)) !important;
}


#particles-js {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1;
}

.questions{
    counter-reset: number;
    max-width: var(--content-width);
    width: 100%;
    background: #fff;
    margin: 20px;
    color: #000;
    font-weight: 700;
    border-radius: var(--questions-border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow-3d);

    .questions-header {
        color: #000 !important;
        cursor: default;
        opacity: 1;
        background-color: var(--lighter-background) !important;
        -webkit-box-shadow: 0px 1px 0px 0px #00000080;
        box-shadow: 0px 1px 0px 0px #00000080;

        &::before {
            color: #000 !important;
            content: "#" !important;
        }
    }
    .question{
        color: var(--landingpage-secondary-color);
        // display: flex;
        // flex-flow: row nowrap ;
        display: grid;
        grid-template-columns: 0.5fr 3.5fr 3fr .75fr .75fr;
        align-items: center;
        padding: 20px;
        opacity: 0.9;
        font-weight: 600;

        // &:nth-child(n+2) {
        //     counter-increment: number;
        // }

        h4 {
            color: var(--link);
        }

        &:hover {
            background-color: #eaeaff;
        }
        & > *{
            margin: 0 10px;
        }

        // &::before{
        //     color: var(--landingpage-secondary-text-color);
        //     content: counter(number)" ";
        // }
    }
    &> :nth-child(odd) {
        background-color: #f5f5fa;
    }
}



.questions > :first-child{
    border-radius: var(--questions-border-radius) var(--questions-border-radius) 0 0;
}


.pagination {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.pagination-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.page-item {
    list-style: none;
}

.page-link {
    float: left;
    padding: 4px 10px;
    margin: 0 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--landingpage-secondary-color);
    color: #fff;
}
.page-link:hover {
    opacity: var(--hover-opacity);
}




.questions-background {
    --angle: 5deg;
    background: none !important;
    padding: 0px !important;
    margin: -300px 0 100px !important;
}

.spacer {
    margin-top: 200px;
}


.dark-text {
    color: black;
}


// .temp {
//     margin: 00px 0 100px 0 !important;
// }

.questions-footer {
    margin-top: -500px;
}

.questions-info {
    color: var(--landingpage-secondary-color);
    margin: 100px 40px 0;

    .difficulty-info {
        display: flex;
        flex-flow: row wrap;

        &>* {
            margin: 0 20px;
        }
    }

    .questions-filters {
        display: flex;
        margin-top: 20px;

        #search-bar {
            padding: 5px 10px;
            font-size: var(--font-size);
            outline: none;
            background-color: var(--light);
            border-radius: var(--big-button-border-radius);
            font-weight: 600;

            &::placeholder {
                color: var(--landingpage-text-color);
            }
            }
            }
            }




