


.toolbar {
    height: var(--navbar-height);
    display: flex;
    flex: 0 0 auto;
    margin: 0 15px;

    &>* {
        color: #fff;
        background: var(--green);
        margin: 0 25px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        border: none;
        height: 100%;
    }

    .field {
        padding: 0 !important;
    }
    select {
        background: var(--green);
        height: var(--navbar-height);
        font-size: var(--font-size);
        border: none;
        border-radius: 0 0 0 var(--border-radius);
        flex: 1;
        padding: 0 var(--navbar-height);
        color: #fff;
        cursor: pointer;
    }

    .select {
        border-radius: 0 0 0 var(--border-radius);
        position: relative;
        display: flex;
        width: 100%;
        line-height: var(--navbar-height);
        background: #2c3e50;
        border: none;
        &::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: -4px;
            padding: 0 1em;
            background: #34495e;
            color: #4aaf06;
            cursor: pointer;
            pointer-events: none;
            transition: .25s all ease;
            border-radius: 0 0 var(--border-radius) 0;
        }
        /* Transition */
        &:hover::after {
            color: #f39912;
        }
    }
}
