


.toolbar {
    position: relative;
    height: var(--navbar-height);
    display: flex;
    flex: 0 0 auto;
    margin: 0 15px;
    // overflow-x: auto;
    // overflow-y: hidden;

    &>* {
        color: #fff;
        background: var(--green);
        margin: 0 25px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        border: none;
        height: 100%;
    }
    .begone {
        display: none;
        transform: scale(0);
        // opacity: 0;
    }

    .active-settings-nav {
        z-index: 10000;
        position: absolute;
        pointer-events: all !important; // siden position absolute tar vekk element fra normal flow vil det gå ann å trykke gjennom elementet dette hindrer det
        border-radius: var(--border-radius);
        top: 45px;
        right: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        pointer-events: none;
        transform: scale(1);
        transition: transform .2s;
        transform-origin: top right;
        height: 70px;

        &>* {
            border-radius: var(--border-radius);
            margin: 10px;

            select {

                background-color: var(--marker-color);
            }

            background-color: var(--marker-color);
        }
    }

    .settings-button {
        img {
            filter: invert(100%);
            max-width: 30px;
        }
    }

    .field {
        padding: 0 !important;
    }
    select {
        font-size: var(--font-size);
        background: var(--green);
        height: var(--navbar-height);
        border: none;
        border-radius: 0 0 0 var(--border-radius);
        flex: 1;
        padding: 0 var(--navbar-height);
        color: #fff;
        cursor: pointer;

        option {
            font-size: var(--font-size);
        }
        }

        .editor-back-button {
            font-weight: 900;
            font-size: var(--font-size);
    }

    .select {
        border-radius: 0 0 0 var(--border-radius);
        position: relative;
        display: flex;
        width: 100%;
        line-height: var(--navbar-height);
        border: none;
        &::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: -4px;
            padding: 0 1em;
            color: #04C09A;
            background: #0078AC;
            cursor: pointer;
            pointer-events: none;
            transition: .25s all ease;
            border-radius: 0 0 var(--border-radius) 0;
        }
        /* Transition */
        &:hover::after {
            background: #0092B2;
            color: #66FBD2;
        }
    }
}

@media screen and (max-width: 780px) {
    .active-settings-nav {
        height: 140px !important;
    }
}

@media screen and (max-width: 660px) {
    .active-settings-nav {
        height: 210px !important;
    }
}