


.ace_editor{
    background-color: var(--boxcolor) !important;
    position: relative;
    width: 100% !important;
    height: 100% !important;
    .ace_gutter{
        background-color: var(--gutter) !important;
        color: var(--text-color)
    }
    .ace_gutter-active-line{
        background-color: var(--active-gutter) !important;
    }
    .ace_active-line{
        background-color: var(--active-line) !important;
    }
}



.wrapper{
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    height: 100vh;
    background: var(--background_gradient);
}

.toolbar {
    height: var(--navbar-height);
    display: flex;
    flex: 0 0 auto ;
    margin: 0 15px;
    & > * {
        color: #fff;
        background: var(--green);
        margin: 0 25px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        border: none;
        height: 100%;
    }
    .field{
        padding: 0 !important;
    }
}

.nav_spacer{
        flex-grow: 1;
        background: none !important;
}

.modules{
    padding: 15px;
}

.reflex-splitter {
    &.vertical{
        width: 15px !important;
    }
    &.horizontal {
        height: 15px !important;
    }
    border: none !important;
    margin: 0 !important;
    opacity: 1 !important;
    border-radius: var(--border-radius) !important;
    background-color: var(--background_gradient) i !important;
    &:hover{
        background-color: var(--blue) !important;
    }
}

.reflex-container{
    height: calc(100vh -((2 * 15px) + var(--navbar-height))) !important;
    overflow: hidden !important;
}


.boxes {
    background:var(--boxcolor); 
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    .center{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        .before-submit{
            font-size: 18px;
            font-weight: bold;
            color: var(--light-text);
        }
    }
    .box-content {
        &:not(.editor){
            padding: calc(var(--navbar-height) + 20px ) 20px 20px 20px; 
        }
        &.editor{
            padding-top: calc(var(--navbar-height));
        }
        overflow: auto;
        flex: 0 1 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }
    .nav{
        position: absolute;
        top: 0px;
        height: var(--navbar-height);
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        z-index: 7;
        background-color: var(--default);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        .submit{
            background-color: var(--submit);
            &:hover{
                background-color: var(--submit-hover) !important;
            }
        }
        & > *{
            background-color: var(--info);
            height: 100%;
            padding: 0 15px;
            font-size: var(--font-size);
            font-weight: 600;
            color: #fff;
            white-space: nowrap;
            border: none;
            transition: .2s background-color;
            &:hover, &.active{
                background: var(--hover1);
            }
            &:nth-child(1){
                border-radius: var(--border-radius) 0 0 0;
            }
            &:nth-last-child(1){
                border-radius: 0 var(--border-radius) 0 0;
            }
        }
    }
}


/* Custom Select */

select {
    background: var(--green);
    height: var(--navbar-height);
    font-size: var(--font-size);
    border: none;
    border-radius: 0 0 0 var(--border-radius);
    flex: 1;
    padding: 0 var(--navbar-height);
    color: #fff;
    cursor: pointer;
}

.select {
        border-radius: 0 0 0 var(--border-radius);
        position: relative;
        display: flex;
        width: 100%;
        line-height: var(--navbar-height);
        background: #2c3e50;
        border: none;

        &::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: -4px;
            padding: 0 1em;
            background: #34495e;
            color: #4aaf06;
            cursor: pointer;
            pointer-events: none;
            transition: .25s all ease;
            border-radius: 0 0 var(--border-radius) 0;
        }
        /* Transition */
        &:hover::after {
            color: #f39912;
        }
    }
/* Arrow */


* {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--boxcolor);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--boxcolor);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 20px;
    border: 3px solid var(--boxcolor);
}