


.ace_editor{
    // background-color: #15314b !important;
    position: static;
    height: 100% !important;
    // width: 100% !important;
    // .ace_text-input{
    //     height: 100% !important;
    //     width: 100% !important;
    // }
    // .ace_text-layer{
    //     height: 100vh !important;
    //     width: 100% !important;
    // }
    // .ace_gutter{

    // }
    // overflow: hidden;
}




.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.toolbar {
    height: 40px;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto ;
    margin: 0 15px;
    & > * {
        min-width: 150px;
        background: #065baf;
        margin: 0 15px 0 0;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 10px;
        border-radius: 0 0 4px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 0 15px;
        width: 100%;
    }

}



.editor{
    padding: 15px;
    flex: 1 1 100%;
    // overflow: hidden;
}

.reflex-splitter {
    &.vertical{
        width: 15px !important;
    }
    &.horizontal {
        height: 15px !important;
    }
    border: none ;
    margin: 0 ;
    opacity: 1 ;
    border-radius: 4px;
    &:hover{
        background-color: aqua !important;
    }
}



.box-nav{
    height: 40px;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    position: relative;
    z-index: 7;
    background-color: #0f6b4c;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    button{
        background-color: #2c3e50;
        height: 100%;
        padding: 0 15px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        white-space: nowrap;
        border: none;
        transition: .2s background-color;
        &:hover{
            background-color: #d400ff;
        }
    }
}


.boxes {
    background-color: darkgreen; 
    overflow: hidden;
    height: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    // align-items: stretch;
    // justify-content: stretch;
    align-items: center;
    justify-content: center;
    .before-submit{
        font-size: 18px;
        font-weight: bold;
        color: #f39912a1;
    }
}



// dropdown-menu
select {
    background: #065baf;
    height: 40px;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border: none;
}
select {
    font-size: 14px;
    border: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    color: #4aaf06;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #f39912;
}




