.login-wrapper {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: var(--landingpage-text-color);
    background: radial-gradient(circle at 50% 50%, #5e72e4, #008dfc, #00a5ff, #00bbff, #00cfff, #00e1f1, #00f1dc, #2bffc6);

    h1 {
        font-weight: bold;
    }

    span {
        font-size: 12px;
    }

    a {
        color: var(--landingpage-text-color);
        font-size: 14px;
        // text-decoration: none;
        margin: 14px 0;
    }
}





.login-button {
    cursor: pointer;
    border-radius: var(--big-button-border-radius);
    border: 1px solid #fff;
    background: var(--landingpage-secondary-color);
    color: #fff !important;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    max-width: 225px;
    &:hover {
        opacity: 0.8;
    }

    &:active {
        transform: scale(0.95);
    }

    &:focus {
        outline: none;
    }
}


.ghost {
    background-color: transparent;
    border-color: #fff;

    .ghost:hover {
        color: var(--secondary-color);
    }
}


.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    height: 100%;

    .login-button {
        margin: 10px 0;
    }

    form {
        max-width: 225px;
    }
    input {
        background-color: #eee;
        border: none;
        outline: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 225px;
        font-family: inherit;
        border-radius: var(--border-radius);

        &:autofill,
        &:-webkit-autofill {
            background: var(--input-autofill);
        }
    }
}


.login-container {
    background-color: #fff;
    border-radius: var(--big-button-border-radius);
    box-shadow: var(--box-shadow-3d);
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 480px;
    height: 768px;

    .form-container {
        position: absolute;
        top: 0;
        width: 100%;
        transition: all 0.6s ease-in-out;
        background: #fff;

        &.sign-in-container {
            top: 0;
            height: 50%;
            z-index: 2;
        }

        &.sign-up-container {
            top: 0;
            height: 50%;
            opacity: 0;
            z-index: 1;
        }
    }

    &.right-panel-active {
        .sign-in-container {
            transform: translateY(100%);
        }

        .sign-up-container {
            transform: translateY(100%);
            opacity: 1;
            z-index: 5;
            animation: show 0.5s;
        }

        .overlay-container {
            transform: translateY(-100%);

        }

        .overlay {
            transform: translateY(50%);
        }

        .overlay-left {
            transform: translateY(0);
        }

        .overlay-right {
            transform: translateY(20%);
        }
    }

    .overlay-container {
        position: absolute;
        left: 0;
        top: 50%;
        height: 50%;
        width: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;

        .overlay {
            background: var(--secondary-color);
            background: linear-gradient(145deg, var(--landingpage-secondary-color), var(--landingpage-text-color));
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
            color: #fff;
            position: relative;
            top: -100%;
            width: 100%;
            height: 200%;
            transform: translateY(0);
            transition: transform 0.6s ease-in-out;

            .overlay-panel {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 40px;
                text-align: center;
                left: 0;
                width: 100%;
                height: 50%;
                transform: translateY(0);
                transition: transform 0.6s ease-in-out;

                &.overlay-left {
                    transform: translateY(-20%);
                }

                &.overlay-right {
                    bottom: 0;
                    transform: translateY(0);
                }
            }
        }
    }
}








@media (min-width: 768px) {

    .login-container {
        width: 768px;
        max-width: 100%;
        height: 480px;

        .form-container {
            top: 0;
            height: 100%;
            width: 50%;

            &.sign-in-container {
                left: 0;
                width: 50%;
                height: 100%;
            }

            &.sign-up-container {
                left: 0;
                width: 50%;
                height: 100%;
            }
        }

        &.right-panel-active {
            .sign-in-container {
                transform: translateX(100%);
            }

            .sign-up-container {
                transform: translateX(100%);
            }

            .overlay-container {
                transform: translateX(-100%);

                .overlay {
                    transform: translateX(50%);

                    .overlay-left {
                        transform: translateX(0) !important;
                    }

                    .overlay-right {
                        transform: translateX(20%) !important;
                    }
                }
            }

        }

        .overlay-container {
            left: 50%;
            top: 0;
            height: 100%;
            width: 50%;

            .overlay {
                top: 0;
                left: -100%;
                height: 100%;
                width: 200%;
                transform: translateX(0);

                .overlay-panel {
                    top: 0;
                    height: 100%;
                    width: 50%;
                    transform: translateX(0);

                    &.overlay-left {
                        transform: translateX(-20%);
                    }

                    &.overlay-right {
                        right: 0;
                        top: 0;
                        left: 50%;
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}






@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
