
.buttons{
    .start {
        background: var(--info);
    }
    .reset {
        background: var(--red);
    }
    & > *{
        border-radius: var(--border-radius);
        color: white;
        border: none;
        margin-left: 10px;
        padding: 5px;
    }
}