

// .App {
//     text-align: center;
//     max-width: 728px;
//     margin: 0 auto;
// }

// .App header {
//     background-color: #181717;
//     height: 10vh;
//     min-height: 50px;
//     color: white;
//     position: fixed;
//     width: 100%;
//     max-width: 728px;
//     top: 0;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     z-index: 99;
//     padding: 10px;
//     box-sizing: border-box;
// }

// .App section {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     min-height: 100vh;
//     background-color: rgb(40, 37, 53);
// }

.messages {
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.chatform {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: calc(100% - 40px);
    display: flex;
    font-size: 1rem;
    background: var(--background_gradient); // retter for opacity
    input {
        line-height: 1.5;
        width: calc(100% - 60px);
        font-size: 1rem;
        background: var(--test-case-boxcolor);
        color: white;
        outline: none;
        border: none;
        padding: 0 10px;
    }

    button {
        // width: 10%;
        background-color: var(--link);
        border: none;
        padding: 5px 20px;
        text-align: center;
        cursor: pointer;
        font-size: 1.25rem;
        width: 60px;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        }
        }
.massages-bottom-spacer {
    padding: 40px;
}

.message {
    display: flex;
    align-items: center;
    position: relative;
    p {
        max-width: 500px;
        margin-bottom: 12px;
        line-height: 24px;
        padding: 10px 20px;
        border-radius: 25px;
        position: relative;
        color: white;
        text-align: center;
    }
    &.sent {
        flex-direction: row-reverse;
        .timestamp {
            right: 10px;
        }
        p {
            color: white;
            background: #0b93f6;
            align-self: flex-end;
        }
        }

    &.received {
        .timestamp {
            left: 10px;
        }

        p {
            background: #e5e5ea;
            color: black;
        }
    }
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 2px 5px;
    }
    .timestamp {
        font-size: smaller;
        position: absolute;
        bottom: -10px;
        padding: 0;
        margin: 0;
        background: #fff0 !important;
        color: var(--text-color) !important;
    }
    }
